autogen-agentchat
autogen-core
autogen-ext[ollama]
chainlit
chromadb
faiss-cpu
langchain
langchain-embeddings-openai
langchain-ollama
langchain-openai
langchain-text-splitters
pyautogen
pypdf
python-dotenv
requests
sqlalchemy
tqdm